.fooddiary {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fooddiary__meals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eb2944;
  border: #ecdc25 10px solid;
  width: 300px;
  height: 600px;
  border-radius: 25px;
}

.fooddiary__meals--title {
  font-size: 75px;
  font-weight: 900;
}

.fooddiary__dateselector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eb2944;
  border: #ecdc25 10px solid;
  width: 300px;
  height: 600px;
  border-radius: 25px;
}

.meal-calendar-months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meal-calendar-month {
  border: solid 1px #eb2944;
  padding: 10px;
}

.meal-calendar-month-active {
  border: solid 1px black;
  padding: 10px;
}

.meal-calendar-month-active:hover {
  background: grey;
}

.meal-calendar-days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meal-calendar-day {
  border: solid 1px #eb2944;
  padding: 10px;
  border: solid 1px #eb2944;
}

.meal-calendar-day-active {
  padding: 10px;
  border: solid 1px #499bff;
  background-color: #ecdc25;
  border-radius: 10px;
}

.meal-calendar-day-active:hover {
  background-color: #eb2944;
  border: solid 1px #ecdc25;
}

.meal-form {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.meal-form form {
  background-color: #499bff;
  border: #ecdc25 10px solid;
  width: 600px;
  padding: 10px;
  border-radius: 25px;
}
