.meal-calendar {
  display: flex;
  justify-content: center;
}

.meal-calendar-month {
  border: solid 1px black;
  padding: 10px;
}

.meal-calendar-month:hover {
  background: grey;
}

.meal-calendar-days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meal-calendar-day {
  border: solid 1px black;
  padding: 10px;
}
