body {
  margin: 0;
  background: #bebbbb;
  background-image: url("../styles/assets/background.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
