.landing-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #ecdc25 10px solid;
  width: 300px;
  height: 600px;
  background-color: #eb2944;
  border-radius: 25px;
}

button,
input {
  margin-left: 50px;
  margin-right: 50px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #ecdc25 10px solid;
  flex-grow: 0;
  width: 300px;
  height: 600px;
  background-color: #499bff;
  border-radius: 25px;
}
